@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #18181b;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* modal animation.css */

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleInModal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-modal-backdrop {
  animation: fadeInBackdrop 0.3s ease forwards;
}

.custom-modal-content {
  animation: scaleInModal 0.3s ease forwards;
}

.custom-modal-text {
  animation: fadeInText 1s ease forwards;
  animation-delay: 0.35s;
  opacity: 0;
}



.icon-container {
  display: inline-block;
  perspective: 800px;
  position: relative;
}

.icon-slider {
  height: 28px;
  width: 28px;
  overflow: hidden;
  position: relative;
}

.icon-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition:
    transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease-in-out,
    scale 0.4s ease-in-out;
  will-change: transform, opacity, scale;
}

.marquee-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scroll-behavior: smooth;
}

.marquee-track {
  display: inline-flex;
  animation: scroll-marquee 40s linear alternate;
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
